<div class="jumbotron">
    <h1 class="display-4">Nomadic Mechanic</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured
      content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/contact-us" role="button">Get in touch today!</a>
    </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card mb-3">
        <i class="fa fa-bicycle card-icon-top"></i>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <i class="fa fa-bus card-icon-top"></i>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card mb-3">
        <i class="fa fa-heart card-icon-top"></i>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
</div>